:root {
    --white: hsl(0, 0%, 100%);
    --text: hsl(228, 12%, 48%);
    --pale: hsl(32, 37%, 92%);
    --green: hsl(158, 36%, 37%);
    --header-text: hsl(212, 21%, 14%);
  }
  
  * {
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--pale);
  }
  
  #header-img {
    width: 60px;
    object-fit: contain;
  }
  
  #nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--white);
    padding: 10px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links a {
    text-decoration: none;
    color: var(--text);
    padding: 0 10px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .the-product {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700;
    font-family: "montserrat";
  }
  
  #email-section {
    margin-top: 100px;
  }
  
  input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--green);
  }
  
  #submit {
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
  }
  
  section::before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
  }
  
  section {
    margin: 40px 20px;
    text-align: center;
  }
  
  h2 {
    font-family: "fraunces";
    margin-bottom: 10px;
  }
  
  .icon {
    color: var(--green);
    margin-right: 30px;
  }
  
  #features {
    text-align: left;
    max-width: 800px;
    margin: auto;
  }
  
  .feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: "montserrat";
  }
  
  #video {
    width: 100%;
  }
  
  .product-image {
    width: 100%;
    margin: auto;
    height: 500px;
    border: 1px solid var(--text);
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .product1 {
    background-image: url("https://www.studypool.com/images/studyGuides/How_to_Win_Friends_and_Influence_People/Book_Cover.jpg");
  }
  .product2 {
    background-image: url("https://th.bing.com/th/id/OIP.HB-OM5T_s7IvWvjSye51gAHaL0?pid=ImgDet&rs=1");
  }
  .product3 {
    background-image: url("https://th.bing.com/th/id/R.f64cf646b03f14e46327e4f9e833f51a?rik=KLbAnB8K%2bKNHuA&pid=ImgRaw&r=0");
  }
  
  .card {
    background-color: var(--white);
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
  }
  
  .inner-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
  }
  
  .content {
    font-family: "montserrat";
    color: var(--text);
    margin-bottom: 10px;
  }
  
  .flex {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .main-price {
    margin-right: 20px;
    font-size: 30px;
    font-family: "fraunces";
    color: var(--green);
  }
  
  .old-price {
    text-decoration: line-through;
    color: var(--text);
  }
  
  .author {
    font-family: "montserrat";
    letter-spacing: 5px;
    color: var(--text);
    text-transform: uppercase;
  }
  
  .header {
    font-family: "fraunces";
    margin: 10px 0;
    color: var(--header-text);
  }
  
  .add {
    background-color: var(--green);
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 100%;
    color: var(--white);
    font-family: "montserrat";
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  @media only screen and (min-width: 600px) {
    #nav-bar {
      flex-direction: row;
    }
  }
  
  @media only screen and (450px < width < 600px) {
    .card {
      font-size: 0.85rem;
    }
    .product-image {
      height: 400px;
    }
  }
  @media only screen and (450px <= width) {
    .card {
      display: flex;
      max-width: 525px;
    }
    .inner-card {
      width: 300px;
      padding: 20px;
    }
    .product-image {
      width: 400px;
      border-radius: 10px 0 0 10px;
    }
  }
  
  @media only screen and (width >= 1000px) {
    #video {
      width: 70%;
    }
    .product-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }